<link rel="stylesheet" type="text/css" href="../static/styles.css">
<link rel="stylesheet" type="text/css" href="../static/headerStyles.css">

<div id="header" class="fixed-top">
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center">
            <div class="loader">
                <p>My blog </p>
                <div class="words">
                    <span class="word"> </span>
                    <span class="word">technology</span>
                    <span class="word">movies</span>
                    <span class="word">science</span>
                    <span class="word"> </span>
                </div>
            </div>
            
            <ul class="nav nav-pills">
                <li class="nav-item"><a href="/" class="coolButton">Home</a></li>
                <li class="nav-item"><a href="#" class="coolButton">FAQs</a></li>
                <li class="nav-item"><a href="#" class="coolButton">About</a></li>
            </ul>
        </header>
    </div>
</div>